.singleProduct {
  margin: 75px 25px 25px 75px;
  width: 400px;
  float: left;
  /* top: 588px; */
}
.productImage {
  width: 348px;
  height: 351px;
}
.productHeading {
  margin-top: 0;
  margin-bottom: 0;
  float: left;
  width: 239px;
  height: 109px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  background-color: #e2e2e2;
}
.productCartImage {
  float: left;
  width: 109px;
  height: 109px;
  background: #ed1c24;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  outline: none;
  border: none;
}
.productCartImage img {
  width: 50px;
  height: 50px;
  margin: 25px;
}
