.navigation {
  width: 100%;
  height: 150px;
  background-color:white;
  color:  #C6C6C6;
  position: fixed;
  top: 0;
  z-index: 1;
  margin-top: 0px;
  border-bottom: 2px solid  #C6C6C6;
  box-shadow: 0px 1px 8px;
}
.logo {
  position: absolute;
  width: 82px;
  height: 70px;
  left: 14px;
  top: 18px;
  cursor: pointer;
}
.logo-heading{
position: absolute;
width: 232px;
height: 83px;
left: 135px;
top: 14px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;
display: flex;
align-items: center;
text-align: center;
color: #ED1C24;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
cursor: pointer;
}

.wrapper {
  width: 1000px;
  margin-left: 530px;
}